SOAP wsdl/actors.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.endpoints.business.sakila.iti.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.endpoints.business.sakila.iti.gov/" name="ActorEndPointService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.endpoints.business.sakila.iti.gov/" schemaLocation="http://localhost:8888/sakila/api/ws/actors?xsd=1"/>
</xsd:schema>
</types>
<message name="findAllActors">
<part name="parameters" element="tns:findAllActors"/>
</message>
<message name="findAllActorsResponse">
<part name="parameters" element="tns:findAllActorsResponse"/>
</message>
<message name="findActorFilms">
<part name="parameters" element="tns:findActorFilms"/>
</message>
<message name="findActorFilmsResponse">
<part name="parameters" element="tns:findActorFilmsResponse"/>
</message>
<message name="findActorById">
<part name="parameters" element="tns:findActorById"/>
</message>
<message name="findActorByIdResponse">
<part name="parameters" element="tns:findActorByIdResponse"/>
</message>
<message name="createActor">
<part name="parameters" element="tns:createActor"/>
</message>
<message name="createActorResponse">
<part name="parameters" element="tns:createActorResponse"/>
</message>
<message name="addFilmToActor">
<part name="parameters" element="tns:addFilmToActor"/>
</message>
<message name="addFilmToActorResponse">
<part name="parameters" element="tns:addFilmToActorResponse"/>
</message>
<message name="deleteActorById">
<part name="parameters" element="tns:deleteActorById"/>
</message>
<message name="deleteActorByIdResponse">
<part name="parameters" element="tns:deleteActorByIdResponse"/>
</message>
<message name="findActorByFirstName">
<part name="parameters" element="tns:findActorByFirstName"/>
</message>
<message name="findActorByFirstNameResponse">
<part name="parameters" element="tns:findActorByFirstNameResponse"/>
</message>
<portType name="ActorEndPoint">
<operation name="findAllActors">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/ActorEndPoint/findAllActorsRequest" message="tns:findAllActors"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/ActorEndPoint/findAllActorsResponse" message="tns:findAllActorsResponse"/>
</operation>
<operation name="findActorFilms">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/ActorEndPoint/findActorFilmsRequest" message="tns:findActorFilms"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/ActorEndPoint/findActorFilmsResponse" message="tns:findActorFilmsResponse"/>
</operation>
<operation name="findActorById">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/ActorEndPoint/findActorByIdRequest" message="tns:findActorById"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/ActorEndPoint/findActorByIdResponse" message="tns:findActorByIdResponse"/>
</operation>
<operation name="createActor">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/ActorEndPoint/createActorRequest" message="tns:createActor"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/ActorEndPoint/createActorResponse" message="tns:createActorResponse"/>
</operation>
<operation name="addFilmToActor">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/ActorEndPoint/addFilmToActorRequest" message="tns:addFilmToActor"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/ActorEndPoint/addFilmToActorResponse" message="tns:addFilmToActorResponse"/>
</operation>
<operation name="deleteActorById">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/ActorEndPoint/deleteActorByIdRequest" message="tns:deleteActorById"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/ActorEndPoint/deleteActorByIdResponse" message="tns:deleteActorByIdResponse"/>
</operation>
<operation name="findActorByFirstName">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/ActorEndPoint/findActorByFirstNameRequest" message="tns:findActorByFirstName"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/ActorEndPoint/findActorByFirstNameResponse" message="tns:findActorByFirstNameResponse"/>
</operation>
</portType>
<binding name="ActorEndPointPortBinding" type="tns:ActorEndPoint">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findAllActors">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findActorFilms">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findActorById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createActor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addFilmToActor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteActorById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findActorByFirstName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ActorEndPointService">
<port name="ActorEndPointPort" binding="tns:ActorEndPointPortBinding">
<soap:address location="http://localhost:8888/sakila/api/ws/actors"/>
</port>
</service>
</definitions>