SOAP wsdl/categories.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.endpoints.business.sakila.iti.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.endpoints.business.sakila.iti.gov/" name="CategoryEndPointService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.endpoints.business.sakila.iti.gov/" schemaLocation="http://localhost:8888/sakila/api/ws/categories?xsd=1"/>
</xsd:schema>
</types>
<message name="createCategory">
<part name="parameters" element="tns:createCategory"/>
</message>
<message name="createCategoryResponse">
<part name="parameters" element="tns:createCategoryResponse"/>
</message>
<message name="findAllCategories">
<part name="parameters" element="tns:findAllCategories"/>
</message>
<message name="findAllCategoriesResponse">
<part name="parameters" element="tns:findAllCategoriesResponse"/>
</message>
<message name="findCategoryByName">
<part name="parameters" element="tns:findCategoryByName"/>
</message>
<message name="findCategoryByNameResponse">
<part name="parameters" element="tns:findCategoryByNameResponse"/>
</message>
<message name="deleteCategoryById">
<part name="parameters" element="tns:deleteCategoryById"/>
</message>
<message name="deleteCategoryByIdResponse">
<part name="parameters" element="tns:deleteCategoryByIdResponse"/>
</message>
<message name="findCategoryById">
<part name="parameters" element="tns:findCategoryById"/>
</message>
<message name="findCategoryByIdResponse">
<part name="parameters" element="tns:findCategoryByIdResponse"/>
</message>
<message name="findCategoryFilms">
<part name="parameters" element="tns:findCategoryFilms"/>
</message>
<message name="findCategoryFilmsResponse">
<part name="parameters" element="tns:findCategoryFilmsResponse"/>
</message>
<message name="addFilmToCategory">
<part name="parameters" element="tns:addFilmToCategory"/>
</message>
<message name="addFilmToCategoryResponse">
<part name="parameters" element="tns:addFilmToCategoryResponse"/>
</message>
<portType name="CategoryEndPoint">
<operation name="createCategory">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/CategoryEndPoint/createCategoryRequest" message="tns:createCategory"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/CategoryEndPoint/createCategoryResponse" message="tns:createCategoryResponse"/>
</operation>
<operation name="findAllCategories">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/CategoryEndPoint/findAllCategoriesRequest" message="tns:findAllCategories"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/CategoryEndPoint/findAllCategoriesResponse" message="tns:findAllCategoriesResponse"/>
</operation>
<operation name="findCategoryByName">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/CategoryEndPoint/findCategoryByNameRequest" message="tns:findCategoryByName"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/CategoryEndPoint/findCategoryByNameResponse" message="tns:findCategoryByNameResponse"/>
</operation>
<operation name="deleteCategoryById">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/CategoryEndPoint/deleteCategoryByIdRequest" message="tns:deleteCategoryById"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/CategoryEndPoint/deleteCategoryByIdResponse" message="tns:deleteCategoryByIdResponse"/>
</operation>
<operation name="findCategoryById">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/CategoryEndPoint/findCategoryByIdRequest" message="tns:findCategoryById"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/CategoryEndPoint/findCategoryByIdResponse" message="tns:findCategoryByIdResponse"/>
</operation>
<operation name="findCategoryFilms">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/CategoryEndPoint/findCategoryFilmsRequest" message="tns:findCategoryFilms"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/CategoryEndPoint/findCategoryFilmsResponse" message="tns:findCategoryFilmsResponse"/>
</operation>
<operation name="addFilmToCategory">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/CategoryEndPoint/addFilmToCategoryRequest" message="tns:addFilmToCategory"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/CategoryEndPoint/addFilmToCategoryResponse" message="tns:addFilmToCategoryResponse"/>
</operation>
</portType>
<binding name="CategoryEndPointPortBinding" type="tns:CategoryEndPoint">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllCategories">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findCategoryByName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteCategoryById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findCategoryById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findCategoryFilms">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addFilmToCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CategoryEndPointService">
<port name="CategoryEndPointPort" binding="tns:CategoryEndPointPortBinding">
<soap:address location="http://localhost:8888/sakila/api/ws/categories"/>
</port>
</service>
</definitions>