SOAP wsdl/customers.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.endpoints.business.sakila.iti.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.endpoints.business.sakila.iti.gov/" name="CustomerEndPointService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.endpoints.business.sakila.iti.gov/" schemaLocation="http://localhost:8888/sakila/api/ws/customers?xsd=1"/>
</xsd:schema>
</types>
<message name="findCustomerById">
<part name="parameters" element="tns:findCustomerById"/>
</message>
<message name="findCustomerByIdResponse">
<part name="parameters" element="tns:findCustomerByIdResponse"/>
</message>
<message name="createCustomer">
<part name="parameters" element="tns:createCustomer"/>
</message>
<message name="createCustomerResponse">
<part name="parameters" element="tns:createCustomerResponse"/>
</message>
<message name="findAllCustomers">
<part name="parameters" element="tns:findAllCustomers"/>
</message>
<message name="findAllCustomersResponse">
<part name="parameters" element="tns:findAllCustomersResponse"/>
</message>
<message name="deleteCustomerById">
<part name="parameters" element="tns:deleteCustomerById"/>
</message>
<message name="deleteCustomerByIdResponse">
<part name="parameters" element="tns:deleteCustomerByIdResponse"/>
</message>
<message name="findCustomerByFirstName">
<part name="parameters" element="tns:findCustomerByFirstName"/>
</message>
<message name="findCustomerByFirstNameResponse">
<part name="parameters" element="tns:findCustomerByFirstNameResponse"/>
</message>
<message name="findCustomerByEmail">
<part name="parameters" element="tns:findCustomerByEmail"/>
</message>
<message name="findCustomerByEmailResponse">
<part name="parameters" element="tns:findCustomerByEmailResponse"/>
</message>
<message name="findCustomerByCreateDate">
<part name="parameters" element="tns:findCustomerByCreateDate"/>
</message>
<message name="findCustomerByCreateDateResponse">
<part name="parameters" element="tns:findCustomerByCreateDateResponse"/>
</message>
<message name="findCustomerRentedFilms">
<part name="parameters" element="tns:findCustomerRentedFilms"/>
</message>
<message name="findCustomerRentedFilmsResponse">
<part name="parameters" element="tns:findCustomerRentedFilmsResponse"/>
</message>
<message name="findCustomerUnReturnedFilms">
<part name="parameters" element="tns:findCustomerUnReturnedFilms"/>
</message>
<message name="findCustomerUnReturnedFilmsResponse">
<part name="parameters" element="tns:findCustomerUnReturnedFilmsResponse"/>
</message>
<message name="findActiveCustomers">
<part name="parameters" element="tns:findActiveCustomers"/>
</message>
<message name="findActiveCustomersResponse">
<part name="parameters" element="tns:findActiveCustomersResponse"/>
</message>
<portType name="CustomerEndPoint">
<operation name="findCustomerById">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/CustomerEndPoint/findCustomerByIdRequest" message="tns:findCustomerById"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/CustomerEndPoint/findCustomerByIdResponse" message="tns:findCustomerByIdResponse"/>
</operation>
<operation name="createCustomer">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/CustomerEndPoint/createCustomerRequest" message="tns:createCustomer"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/CustomerEndPoint/createCustomerResponse" message="tns:createCustomerResponse"/>
</operation>
<operation name="findAllCustomers">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/CustomerEndPoint/findAllCustomersRequest" message="tns:findAllCustomers"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/CustomerEndPoint/findAllCustomersResponse" message="tns:findAllCustomersResponse"/>
</operation>
<operation name="deleteCustomerById">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/CustomerEndPoint/deleteCustomerByIdRequest" message="tns:deleteCustomerById"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/CustomerEndPoint/deleteCustomerByIdResponse" message="tns:deleteCustomerByIdResponse"/>
</operation>
<operation name="findCustomerByFirstName">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/CustomerEndPoint/findCustomerByFirstNameRequest" message="tns:findCustomerByFirstName"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/CustomerEndPoint/findCustomerByFirstNameResponse" message="tns:findCustomerByFirstNameResponse"/>
</operation>
<operation name="findCustomerByEmail">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/CustomerEndPoint/findCustomerByEmailRequest" message="tns:findCustomerByEmail"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/CustomerEndPoint/findCustomerByEmailResponse" message="tns:findCustomerByEmailResponse"/>
</operation>
<operation name="findCustomerByCreateDate">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/CustomerEndPoint/findCustomerByCreateDateRequest" message="tns:findCustomerByCreateDate"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/CustomerEndPoint/findCustomerByCreateDateResponse" message="tns:findCustomerByCreateDateResponse"/>
</operation>
<operation name="findCustomerRentedFilms">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/CustomerEndPoint/findCustomerRentedFilmsRequest" message="tns:findCustomerRentedFilms"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/CustomerEndPoint/findCustomerRentedFilmsResponse" message="tns:findCustomerRentedFilmsResponse"/>
</operation>
<operation name="findCustomerUnReturnedFilms">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/CustomerEndPoint/findCustomerUnReturnedFilmsRequest" message="tns:findCustomerUnReturnedFilms"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/CustomerEndPoint/findCustomerUnReturnedFilmsResponse" message="tns:findCustomerUnReturnedFilmsResponse"/>
</operation>
<operation name="findActiveCustomers">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/CustomerEndPoint/findActiveCustomersRequest" message="tns:findActiveCustomers"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/CustomerEndPoint/findActiveCustomersResponse" message="tns:findActiveCustomersResponse"/>
</operation>
</portType>
<binding name="CustomerEndPointPortBinding" type="tns:CustomerEndPoint">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findCustomerById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllCustomers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteCustomerById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findCustomerByFirstName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findCustomerByEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findCustomerByCreateDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findCustomerRentedFilms">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findCustomerUnReturnedFilms">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findActiveCustomers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CustomerEndPointService">
<port name="CustomerEndPointPort" binding="tns:CustomerEndPointPortBinding">
<soap:address location="http://localhost:8888/sakila/api/ws/customers"/>
</port>
</service>
</definitions>