SOAP wsdl/films.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.endpoints.business.sakila.iti.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.endpoints.business.sakila.iti.gov/" name="FilmEndPointService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.endpoints.business.sakila.iti.gov/" schemaLocation="http://localhost:8888/sakila/api/ws/films?xsd=1"/>
</xsd:schema>
</types>
<message name="findFilmLanguage">
<part name="parameters" element="tns:findFilmLanguage"/>
</message>
<message name="findFilmLanguageResponse">
<part name="parameters" element="tns:findFilmLanguageResponse"/>
</message>
<message name="findFilmByTitle">
<part name="parameters" element="tns:findFilmByTitle"/>
</message>
<message name="findFilmByTitleResponse">
<part name="parameters" element="tns:findFilmByTitleResponse"/>
</message>
<message name="addActorToFilm">
<part name="parameters" element="tns:addActorToFilm"/>
</message>
<message name="addActorToFilmResponse">
<part name="parameters" element="tns:addActorToFilmResponse"/>
</message>
<message name="findAllFilms">
<part name="parameters" element="tns:findAllFilms"/>
</message>
<message name="findAllFilmsResponse">
<part name="parameters" element="tns:findAllFilmsResponse"/>
</message>
<message name="findByRating">
<part name="parameters" element="tns:findByRating"/>
</message>
<message name="findByRatingResponse">
<part name="parameters" element="tns:findByRatingResponse"/>
</message>
<message name="findFilmActors">
<part name="parameters" element="tns:findFilmActors"/>
</message>
<message name="findFilmActorsResponse">
<part name="parameters" element="tns:findFilmActorsResponse"/>
</message>
<message name="addCategoryToFilm">
<part name="parameters" element="tns:addCategoryToFilm"/>
</message>
<message name="addCategoryToFilmResponse">
<part name="parameters" element="tns:addCategoryToFilmResponse"/>
</message>
<message name="deleteFilmById">
<part name="parameters" element="tns:deleteFilmById"/>
</message>
<message name="deleteFilmByIdResponse">
<part name="parameters" element="tns:deleteFilmByIdResponse"/>
</message>
<message name="findFilmCategories">
<part name="parameters" element="tns:findFilmCategories"/>
</message>
<message name="findFilmCategoriesResponse">
<part name="parameters" element="tns:findFilmCategoriesResponse"/>
</message>
<message name="findFilmStores">
<part name="parameters" element="tns:findFilmStores"/>
</message>
<message name="findFilmStoresResponse">
<part name="parameters" element="tns:findFilmStoresResponse"/>
</message>
<message name="findFilmById">
<part name="parameters" element="tns:findFilmById"/>
</message>
<message name="findFilmByIdResponse">
<part name="parameters" element="tns:findFilmByIdResponse"/>
</message>
<message name="findFilmCustomers">
<part name="parameters" element="tns:findFilmCustomers"/>
</message>
<message name="findFilmCustomersResponse">
<part name="parameters" element="tns:findFilmCustomersResponse"/>
</message>
<message name="findNumberOfActors">
<part name="parameters" element="tns:findNumberOfActors"/>
</message>
<message name="findNumberOfActorsResponse">
<part name="parameters" element="tns:findNumberOfActorsResponse"/>
</message>
<message name="findFilmByLength">
<part name="parameters" element="tns:findFilmByLength"/>
</message>
<message name="findFilmByLengthResponse">
<part name="parameters" element="tns:findFilmByLengthResponse"/>
</message>
<message name="createFilm">
<part name="parameters" element="tns:createFilm"/>
</message>
<message name="createFilmResponse">
<part name="parameters" element="tns:createFilmResponse"/>
</message>
<message name="findFilmOriginalLanguage">
<part name="parameters" element="tns:findFilmOriginalLanguage"/>
</message>
<message name="findFilmOriginalLanguageResponse">
<part name="parameters" element="tns:findFilmOriginalLanguageResponse"/>
</message>
<message name="findByRentalDuration">
<part name="parameters" element="tns:findByRentalDuration"/>
</message>
<message name="findByRentalDurationResponse">
<part name="parameters" element="tns:findByRentalDurationResponse"/>
</message>
<message name="findFilmAvailableInWhichStore">
<part name="parameters" element="tns:findFilmAvailableInWhichStore"/>
</message>
<message name="findFilmAvailableInWhichStoreResponse">
<part name="parameters" element="tns:findFilmAvailableInWhichStoreResponse"/>
</message>
<message name="findFilmCountInStock">
<part name="parameters" element="tns:findFilmCountInStock"/>
</message>
<message name="findFilmCountInStockResponse">
<part name="parameters" element="tns:findFilmCountInStockResponse"/>
</message>
<message name="findFilmByReplacementCost">
<part name="parameters" element="tns:findFilmByReplacementCost"/>
</message>
<message name="findFilmByReplacementCostResponse">
<part name="parameters" element="tns:findFilmByReplacementCostResponse"/>
</message>
<message name="findWhereFilmAvailable">
<part name="parameters" element="tns:findWhereFilmAvailable"/>
</message>
<message name="findWhereFilmAvailableResponse">
<part name="parameters" element="tns:findWhereFilmAvailableResponse"/>
</message>
<message name="findFilmByReleaseYear">
<part name="parameters" element="tns:findFilmByReleaseYear"/>
</message>
<message name="findFilmByReleaseYearResponse">
<part name="parameters" element="tns:findFilmByReleaseYearResponse"/>
</message>
<message name="findCountFilmRentals">
<part name="parameters" element="tns:findCountFilmRentals"/>
</message>
<message name="findCountFilmRentalsResponse">
<part name="parameters" element="tns:findCountFilmRentalsResponse"/>
</message>
<portType name="FilmEndPoint">
<operation name="findFilmLanguage">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/FilmEndPoint/findFilmLanguageRequest" message="tns:findFilmLanguage"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/FilmEndPoint/findFilmLanguageResponse" message="tns:findFilmLanguageResponse"/>
</operation>
<operation name="findFilmByTitle">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/FilmEndPoint/findFilmByTitleRequest" message="tns:findFilmByTitle"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/FilmEndPoint/findFilmByTitleResponse" message="tns:findFilmByTitleResponse"/>
</operation>
<operation name="addActorToFilm">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/FilmEndPoint/addActorToFilmRequest" message="tns:addActorToFilm"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/FilmEndPoint/addActorToFilmResponse" message="tns:addActorToFilmResponse"/>
</operation>
<operation name="findAllFilms">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/FilmEndPoint/findAllFilmsRequest" message="tns:findAllFilms"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/FilmEndPoint/findAllFilmsResponse" message="tns:findAllFilmsResponse"/>
</operation>
<operation name="findByRating">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/FilmEndPoint/findByRatingRequest" message="tns:findByRating"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/FilmEndPoint/findByRatingResponse" message="tns:findByRatingResponse"/>
</operation>
<operation name="findFilmActors">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/FilmEndPoint/findFilmActorsRequest" message="tns:findFilmActors"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/FilmEndPoint/findFilmActorsResponse" message="tns:findFilmActorsResponse"/>
</operation>
<operation name="addCategoryToFilm">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/FilmEndPoint/addCategoryToFilmRequest" message="tns:addCategoryToFilm"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/FilmEndPoint/addCategoryToFilmResponse" message="tns:addCategoryToFilmResponse"/>
</operation>
<operation name="deleteFilmById">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/FilmEndPoint/deleteFilmByIdRequest" message="tns:deleteFilmById"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/FilmEndPoint/deleteFilmByIdResponse" message="tns:deleteFilmByIdResponse"/>
</operation>
<operation name="findFilmCategories">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/FilmEndPoint/findFilmCategoriesRequest" message="tns:findFilmCategories"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/FilmEndPoint/findFilmCategoriesResponse" message="tns:findFilmCategoriesResponse"/>
</operation>
<operation name="findFilmStores">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/FilmEndPoint/findFilmStoresRequest" message="tns:findFilmStores"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/FilmEndPoint/findFilmStoresResponse" message="tns:findFilmStoresResponse"/>
</operation>
<operation name="findFilmById">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/FilmEndPoint/findFilmByIdRequest" message="tns:findFilmById"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/FilmEndPoint/findFilmByIdResponse" message="tns:findFilmByIdResponse"/>
</operation>
<operation name="findFilmCustomers">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/FilmEndPoint/findFilmCustomersRequest" message="tns:findFilmCustomers"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/FilmEndPoint/findFilmCustomersResponse" message="tns:findFilmCustomersResponse"/>
</operation>
<operation name="findNumberOfActors">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/FilmEndPoint/findNumberOfActorsRequest" message="tns:findNumberOfActors"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/FilmEndPoint/findNumberOfActorsResponse" message="tns:findNumberOfActorsResponse"/>
</operation>
<operation name="findFilmByLength">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/FilmEndPoint/findFilmByLengthRequest" message="tns:findFilmByLength"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/FilmEndPoint/findFilmByLengthResponse" message="tns:findFilmByLengthResponse"/>
</operation>
<operation name="createFilm">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/FilmEndPoint/createFilmRequest" message="tns:createFilm"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/FilmEndPoint/createFilmResponse" message="tns:createFilmResponse"/>
</operation>
<operation name="findFilmOriginalLanguage">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/FilmEndPoint/findFilmOriginalLanguageRequest" message="tns:findFilmOriginalLanguage"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/FilmEndPoint/findFilmOriginalLanguageResponse" message="tns:findFilmOriginalLanguageResponse"/>
</operation>
<operation name="findByRentalDuration">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/FilmEndPoint/findByRentalDurationRequest" message="tns:findByRentalDuration"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/FilmEndPoint/findByRentalDurationResponse" message="tns:findByRentalDurationResponse"/>
</operation>
<operation name="findFilmAvailableInWhichStore">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/FilmEndPoint/findFilmAvailableInWhichStoreRequest" message="tns:findFilmAvailableInWhichStore"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/FilmEndPoint/findFilmAvailableInWhichStoreResponse" message="tns:findFilmAvailableInWhichStoreResponse"/>
</operation>
<operation name="findFilmCountInStock">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/FilmEndPoint/findFilmCountInStockRequest" message="tns:findFilmCountInStock"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/FilmEndPoint/findFilmCountInStockResponse" message="tns:findFilmCountInStockResponse"/>
</operation>
<operation name="findFilmByReplacementCost">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/FilmEndPoint/findFilmByReplacementCostRequest" message="tns:findFilmByReplacementCost"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/FilmEndPoint/findFilmByReplacementCostResponse" message="tns:findFilmByReplacementCostResponse"/>
</operation>
<operation name="findWhereFilmAvailable">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/FilmEndPoint/findWhereFilmAvailableRequest" message="tns:findWhereFilmAvailable"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/FilmEndPoint/findWhereFilmAvailableResponse" message="tns:findWhereFilmAvailableResponse"/>
</operation>
<operation name="findFilmByReleaseYear">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/FilmEndPoint/findFilmByReleaseYearRequest" message="tns:findFilmByReleaseYear"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/FilmEndPoint/findFilmByReleaseYearResponse" message="tns:findFilmByReleaseYearResponse"/>
</operation>
<operation name="findCountFilmRentals">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/FilmEndPoint/findCountFilmRentalsRequest" message="tns:findCountFilmRentals"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/FilmEndPoint/findCountFilmRentalsResponse" message="tns:findCountFilmRentalsResponse"/>
</operation>
</portType>
<binding name="FilmEndPointPortBinding" type="tns:FilmEndPoint">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findFilmLanguage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findFilmByTitle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addActorToFilm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllFilms">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByRating">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findFilmActors">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addCategoryToFilm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteFilmById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findFilmCategories">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findFilmStores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findFilmById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findFilmCustomers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findNumberOfActors">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findFilmByLength">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createFilm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findFilmOriginalLanguage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByRentalDuration">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findFilmAvailableInWhichStore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findFilmCountInStock">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findFilmByReplacementCost">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findWhereFilmAvailable">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findFilmByReleaseYear">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findCountFilmRentals">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FilmEndPointService">
<port name="FilmEndPointPort" binding="tns:FilmEndPointPortBinding">
<soap:address location="http://localhost:8888/sakila/api/ws/films"/>
</port>
</service>
</definitions>