SOAP wsdl/inventories.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.endpoints.business.sakila.iti.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.endpoints.business.sakila.iti.gov/" name="InventoryEndPointService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.endpoints.business.sakila.iti.gov/" schemaLocation="http://localhost:8888/sakila/api/ws/inventories?xsd=1"/>
</xsd:schema>
</types>
<message name="findInventoryById">
<part name="parameters" element="tns:findInventoryById"/>
</message>
<message name="findInventoryByIdResponse">
<part name="parameters" element="tns:findInventoryByIdResponse"/>
</message>
<message name="findAllInventories">
<part name="parameters" element="tns:findAllInventories"/>
</message>
<message name="findAllInventoriesResponse">
<part name="parameters" element="tns:findAllInventoriesResponse"/>
</message>
<message name="createInventory">
<part name="parameters" element="tns:createInventory"/>
</message>
<message name="createInventoryResponse">
<part name="parameters" element="tns:createInventoryResponse"/>
</message>
<message name="findAllAvailableFilmInventory">
<part name="parameters" element="tns:findAllAvailableFilmInventory"/>
</message>
<message name="findAllAvailableFilmInventoryResponse">
<part name="parameters" element="tns:findAllAvailableFilmInventoryResponse"/>
</message>
<message name="findFilmRentedInventory">
<part name="parameters" element="tns:findFilmRentedInventory"/>
</message>
<message name="findFilmRentedInventoryResponse">
<part name="parameters" element="tns:findFilmRentedInventoryResponse"/>
</message>
<message name="findAllRentedInventory">
<part name="parameters" element="tns:findAllRentedInventory"/>
</message>
<message name="findAllRentedInventoryResponse">
<part name="parameters" element="tns:findAllRentedInventoryResponse"/>
</message>
<message name="deleteInventoryById">
<part name="parameters" element="tns:deleteInventoryById"/>
</message>
<message name="deleteInventoryByIdResponse">
<part name="parameters" element="tns:deleteInventoryByIdResponse"/>
</message>
<portType name="InventoryEndPoint">
<operation name="findInventoryById">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/InventoryEndPoint/findInventoryByIdRequest" message="tns:findInventoryById"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/InventoryEndPoint/findInventoryByIdResponse" message="tns:findInventoryByIdResponse"/>
</operation>
<operation name="findAllInventories">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/InventoryEndPoint/findAllInventoriesRequest" message="tns:findAllInventories"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/InventoryEndPoint/findAllInventoriesResponse" message="tns:findAllInventoriesResponse"/>
</operation>
<operation name="createInventory">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/InventoryEndPoint/createInventoryRequest" message="tns:createInventory"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/InventoryEndPoint/createInventoryResponse" message="tns:createInventoryResponse"/>
</operation>
<operation name="findAllAvailableFilmInventory">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/InventoryEndPoint/findAllAvailableFilmInventoryRequest" message="tns:findAllAvailableFilmInventory"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/InventoryEndPoint/findAllAvailableFilmInventoryResponse" message="tns:findAllAvailableFilmInventoryResponse"/>
</operation>
<operation name="findFilmRentedInventory">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/InventoryEndPoint/findFilmRentedInventoryRequest" message="tns:findFilmRentedInventory"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/InventoryEndPoint/findFilmRentedInventoryResponse" message="tns:findFilmRentedInventoryResponse"/>
</operation>
<operation name="findAllRentedInventory">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/InventoryEndPoint/findAllRentedInventoryRequest" message="tns:findAllRentedInventory"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/InventoryEndPoint/findAllRentedInventoryResponse" message="tns:findAllRentedInventoryResponse"/>
</operation>
<operation name="deleteInventoryById">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/InventoryEndPoint/deleteInventoryByIdRequest" message="tns:deleteInventoryById"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/InventoryEndPoint/deleteInventoryByIdResponse" message="tns:deleteInventoryByIdResponse"/>
</operation>
</portType>
<binding name="InventoryEndPointPortBinding" type="tns:InventoryEndPoint">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findInventoryById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllInventories">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createInventory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllAvailableFilmInventory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findFilmRentedInventory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllRentedInventory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteInventoryById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="InventoryEndPointService">
<port name="InventoryEndPointPort" binding="tns:InventoryEndPointPortBinding">
<soap:address location="http://localhost:8888/sakila/api/ws/inventories"/>
</port>
</service>
</definitions>