SOAP wsdl/stores.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.endpoints.business.sakila.iti.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.endpoints.business.sakila.iti.gov/" name="StoreEndPointService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.endpoints.business.sakila.iti.gov/" schemaLocation="http://localhost:8888/sakila/api/ws/stores?xsd=1"/>
</xsd:schema>
</types>
<message name="createStore">
<part name="parameters" element="tns:createStore"/>
</message>
<message name="createStoreResponse">
<part name="parameters" element="tns:createStoreResponse"/>
</message>
<message name="findStoreRentals">
<part name="parameters" element="tns:findStoreRentals"/>
</message>
<message name="findStoreRentalsResponse">
<part name="parameters" element="tns:findStoreRentalsResponse"/>
</message>
<message name="deleteStoreById">
<part name="parameters" element="tns:deleteStoreById"/>
</message>
<message name="deleteStoreByIdResponse">
<part name="parameters" element="tns:deleteStoreByIdResponse"/>
</message>
<message name="findStoreAddress">
<part name="parameters" element="tns:findStoreAddress"/>
</message>
<message name="findStoreAddressResponse">
<part name="parameters" element="tns:findStoreAddressResponse"/>
</message>
<message name="findAllStores">
<part name="parameters" element="tns:findAllStores"/>
</message>
<message name="findAllStoresResponse">
<part name="parameters" element="tns:findAllStoresResponse"/>
</message>
<message name="findStoreFilms">
<part name="parameters" element="tns:findStoreFilms"/>
</message>
<message name="findStoreFilmsResponse">
<part name="parameters" element="tns:findStoreFilmsResponse"/>
</message>
<message name="findStoreById">
<part name="parameters" element="tns:findStoreById"/>
</message>
<message name="findStoreByIdResponse">
<part name="parameters" element="tns:findStoreByIdResponse"/>
</message>
<message name="findStoreManagerStaff">
<part name="parameters" element="tns:findStoreManagerStaff"/>
</message>
<message name="findStoreManagerStaffResponse">
<part name="parameters" element="tns:findStoreManagerStaffResponse"/>
</message>
<message name="findNumberStoreFilms">
<part name="parameters" element="tns:findNumberStoreFilms"/>
</message>
<message name="findNumberStoreFilmsResponse">
<part name="parameters" element="tns:findNumberStoreFilmsResponse"/>
</message>
<message name="findRentalCountAllStores">
<part name="parameters" element="tns:findRentalCountAllStores"/>
</message>
<message name="findRentalCountAllStoresResponse">
<part name="parameters" element="tns:findRentalCountAllStoresResponse"/>
</message>
<message name="findRentalCountInStore">
<part name="parameters" element="tns:findRentalCountInStore"/>
</message>
<message name="findRentalCountInStoreResponse">
<part name="parameters" element="tns:findRentalCountInStoreResponse"/>
</message>
<message name="findFilmCountInStores">
<part name="parameters" element="tns:findFilmCountInStores"/>
</message>
<message name="findFilmCountInStoresResponse">
<part name="parameters" element="tns:findFilmCountInStoresResponse"/>
</message>
<message name="findFilmCountInStore">
<part name="parameters" element="tns:findFilmCountInStore"/>
</message>
<message name="findFilmCountInStoreResponse">
<part name="parameters" element="tns:findFilmCountInStoreResponse"/>
</message>
<portType name="StoreEndPoint">
<operation name="createStore">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/StoreEndPoint/createStoreRequest" message="tns:createStore"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/StoreEndPoint/createStoreResponse" message="tns:createStoreResponse"/>
</operation>
<operation name="findStoreRentals">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/StoreEndPoint/findStoreRentalsRequest" message="tns:findStoreRentals"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/StoreEndPoint/findStoreRentalsResponse" message="tns:findStoreRentalsResponse"/>
</operation>
<operation name="deleteStoreById">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/StoreEndPoint/deleteStoreByIdRequest" message="tns:deleteStoreById"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/StoreEndPoint/deleteStoreByIdResponse" message="tns:deleteStoreByIdResponse"/>
</operation>
<operation name="findStoreAddress">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/StoreEndPoint/findStoreAddressRequest" message="tns:findStoreAddress"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/StoreEndPoint/findStoreAddressResponse" message="tns:findStoreAddressResponse"/>
</operation>
<operation name="findAllStores">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/StoreEndPoint/findAllStoresRequest" message="tns:findAllStores"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/StoreEndPoint/findAllStoresResponse" message="tns:findAllStoresResponse"/>
</operation>
<operation name="findStoreFilms">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/StoreEndPoint/findStoreFilmsRequest" message="tns:findStoreFilms"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/StoreEndPoint/findStoreFilmsResponse" message="tns:findStoreFilmsResponse"/>
</operation>
<operation name="findStoreById">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/StoreEndPoint/findStoreByIdRequest" message="tns:findStoreById"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/StoreEndPoint/findStoreByIdResponse" message="tns:findStoreByIdResponse"/>
</operation>
<operation name="findStoreManagerStaff">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/StoreEndPoint/findStoreManagerStaffRequest" message="tns:findStoreManagerStaff"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/StoreEndPoint/findStoreManagerStaffResponse" message="tns:findStoreManagerStaffResponse"/>
</operation>
<operation name="findNumberStoreFilms">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/StoreEndPoint/findNumberStoreFilmsRequest" message="tns:findNumberStoreFilms"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/StoreEndPoint/findNumberStoreFilmsResponse" message="tns:findNumberStoreFilmsResponse"/>
</operation>
<operation name="findRentalCountAllStores">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/StoreEndPoint/findRentalCountAllStoresRequest" message="tns:findRentalCountAllStores"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/StoreEndPoint/findRentalCountAllStoresResponse" message="tns:findRentalCountAllStoresResponse"/>
</operation>
<operation name="findRentalCountInStore">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/StoreEndPoint/findRentalCountInStoreRequest" message="tns:findRentalCountInStore"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/StoreEndPoint/findRentalCountInStoreResponse" message="tns:findRentalCountInStoreResponse"/>
</operation>
<operation name="findFilmCountInStores">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/StoreEndPoint/findFilmCountInStoresRequest" message="tns:findFilmCountInStores"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/StoreEndPoint/findFilmCountInStoresResponse" message="tns:findFilmCountInStoresResponse"/>
</operation>
<operation name="findFilmCountInStore">
<input wsam:Action="http://soap.endpoints.business.sakila.iti.gov/StoreEndPoint/findFilmCountInStoreRequest" message="tns:findFilmCountInStore"/>
<output wsam:Action="http://soap.endpoints.business.sakila.iti.gov/StoreEndPoint/findFilmCountInStoreResponse" message="tns:findFilmCountInStoreResponse"/>
</operation>
</portType>
<binding name="StoreEndPointPortBinding" type="tns:StoreEndPoint">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createStore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findStoreRentals">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteStoreById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findStoreAddress">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllStores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findStoreFilms">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findStoreById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findStoreManagerStaff">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findNumberStoreFilms">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRentalCountAllStores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRentalCountInStore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findFilmCountInStores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findFilmCountInStore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="StoreEndPointService">
<port name="StoreEndPointPort" binding="tns:StoreEndPointPortBinding">
<soap:address location="http://localhost:8888/sakila/api/ws/stores"/>
</port>
</service>
</definitions>